.App {
  text-align: center;
}

.title {
  display: flex;
  padding-bottom: 45px;
}

.button {
  width: 150px;
  height: 25px;
  margin-top: 25px;
  margin-left: 25px;
}

.form div {
  margin-bottom: 1%;
}

.container-link a{
  margin-left: 20px;
}

